/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Myriad';
  src: url('./fonts/SFUIText-Regular.otf') format('opentype');
}

:root {
  --background: #ffffff; /* Fondo claro */
  --foreground: #171717; /* Texto claro */
  --card-bg: #ffffff; /* Fondo de tarjetas (claro) */
  --card-text: #374151; /* Texto de tarjetas (claro) */
}

[data-theme="dark"] {
  --background: #131a1b; /* Fondo oscuro */
  --foreground: #ededed; /* Texto oscuro */
  --card-bg: #131a1b; /* Fondo de tarjetas (oscuro) */
  --card-text: #f3f4f6; /* Texto de tarjetas (oscuro) */
}

html, body {
  height: 100%; /* Asegura que el html y el body ocupen toda la altura */
  margin: 0; /* Elimina los márgenes por defecto */
  padding: 0; /* Elimina los paddings por defecto */
}

body, .container, .chart, .inputField, .price, .rsiValue, .text-red-500, .version, .card {
  font-family: 'Myriad', sans-serif;
  background-color: var(--background);
  color: var(--foreground);

}

/* Animaciones y estilos existentes */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body {
  background-color: var(--background);
  color: var(--foreground);

}

body.logged-in {
  padding-top: 220px;
}

.card {
  background-color: var(--card-bg);
  color: var(--card-text);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

/* Estilo para el logo */
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50.2%;
  transform: translateX(-50%);
  background-image: url('../assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 350px;
  height: 350px;
  z-index: -1; /* Asegúrate de que no cubra el contenido */
  transition: filter 0.3s ease; /* Transición suave para el efecto de inversión */
  filter: invert(0); /* Invierte los colores del logo en modo oscuro */
}

@media (max-width: 768px) {
  body::before {
    width: 280px; /* Reduce el tamaño del logo */
    height: 280px;
  }
}


[data-theme="dark"] body::before {
  filter: invert(1);
}


/* Contenedor principal */
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: -150px;
  padding: 20px;
}

/* Estilos para la caja de texto */
.inputField {
  background-color: var(--card-bg);
  color: var(--card-text);
  border: 1px solid var(--secondary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilos adicionales */
.price {
  font-size: 1rem;
  padding-left: 2%;
  font-weight: regular;
  color: var(--foreground);
}

.prediction-container {
  font-size: 1rem;
  font-weight: normal;
  color: var(--foreground);
  display: inline-block;
}

.rsiValue {
  font-size: 1rem;
  margin-top: 10px;
  color: var(--foreground);
}

.chart {
  margin-top: 20px;
  background-color: var(--background);
  color: var(--foreground);
}

.text-red-500 {
  color: #f56565;
}

/* Animaciones para el modo oscuro */
@keyframes slide-up-fade-in {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.animate-slide-up-fade-in {
  animation: slide-up-fade-in 0.3s ease-out;
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in;
}

.animate-pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}