/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (max-width: 768px) {
  body::before {
    width: 200px; /* Ajustar el tamaño del logo en móviles */
    height: 200px;
  }
  
}

@media (max-width: 768px) {
  .container {
    margin-top: 20px; /* Reduce el margen en móviles */
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s; /* Añadir transición para un cambio suave */
  height: 90%;
  margin: 0;
  position: relative;
  padding-top: 220px;
  animation: fadeIn 1s ease-in-out; /* Se aplica el fade-in a la carga */
}

/* Estilo para el logo */
body::before {
  content: '';
  position: absolute; /* Cambiado de fixed a absolute */
  top: 0; /* Sigue comenzando desde la parte superior */
  left: 50%;
  transform: translateX(-50%);
  background-image: url('../assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 350px;
  height: 350px;
}
/* Contenedor principal */
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: -150px; /* Ajusta el espacio según el tamaño del logo */
  padding: 20px;
}

/* Estilos para la caja de texto */
.inputField {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 400px; /* Ajustar tamaño de la caja de texto */
  font-size: 1rem;
  margin-top: 20px; /* Separar de otros elementos */
}

/* Estilos adicionales */
.price {
  font-size: 1rem;
  padding-left: 2%;
  font-weight: regular;
  color: #333;
}

.prediction-container {
  font-size: 1rem;
  font-weight: normal; /* or 400 for regular */
  color: #333;
  display: inline-block; /* This ensures that padding affects only the content, not the width of the parent */
}
.rsiValue {
  font-size: 1rem;
  margin-top: 10px;
}

.chart {
  margin-top: 20px;
}

.text-red-500 {
  color: #f56565;
}

.mb-4 {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.p-4 {
  padding: 16px;
}