@font-face {
  font-family: 'Myriad';
  src: url('./fonts/SFUIText-Regular.otf') format('opentype');
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  animation: fadeIn 1.5s ease-in-out; /* Animación para el contenedor */
  background-color: var(--background); /* Usar variable de fondo */
  color: var(--foreground); /* Usar variable de texto */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición para cambio de tema */
}

.chart {
  width: 100%; /* Asegura que el gráfico ocupe todo el ancho disponible */
  max-width: 1200px; /* Máximo ancho para evitar que se agrande demasiado en pantallas grandes */
  margin: 0 auto; /* Centra el gráfico en la página */
  background-color: var(--background); /* Usar variable de fondo */
  color: var(--foreground); /* Usar variable de texto */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición para cambio de tema */
}

@media (max-width: 768px) {
  .chart {
    width: 100%;
    padding: 10px; /* Añade algo de espacio para pantallas pequeñas */
  }
}

.inputField, .price, .rsiValue, .chart, .text-red-500 {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards; /* Fade-in para cada elemento */
  background-color: var(--background); /* Usar variable de fondo */
  color: var(--foreground); /* Usar variable de texto */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición para cambio de tema */
}

.version {
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-size: 14px;
  color: var(--foreground); /* Usar variable de texto */
  background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
  padding: 5px;
  border-radius: 5px;
  transition: color 0.3s ease; /* Transición para cambio de tema */
}

/* Incrementa la demora para el tiempo de aparición */
.inputField {
  animation-delay: 0.5s;
}
.price {
  animation-delay: 1s;
}
.rsiValue {
  animation-delay: 1.5s;
}
.chart {
  animation-delay: 2s;
}
.text-red-500 {
  animation-delay: 2.5s;
}
